
.Main-chat
  .Main-chat__Right-header
    .Main-chat__Right-header__groupname
      = @group.name
      .Main-chat__Right-header__memberlist
        - @group.users.each do |user|
          Member :
          = user.name
    = link_to edit_group_path(@group.id), class: "Right-header__editbutton" do
      Edit

  .Main-chat__messagebox
    = render @messages
   
  .Main-chat__footer
    = form_with model: [@group, @message], html: {class: "Form__contents"}, local: true do |f|
      .Form__inputbox
        = f.text_field :content, class: 'Form__inputtext', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputimage' do
          = icon('fas', 'image', class: "Contents__btn--icon")
          = f.file_field :image, class:"A"
      = f.submit 'Send', class: 'Form__submitBtn'
        